/**

* @desc: This file contain all css styling related to about section of webpage

*/

.aboutSection {
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  /* background-color: plum; */
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.aboutSection > .aboutContent {
  width: 38%;
  height: 100%;
  margin-right: 30px;
  /* background-color: yellow; */
}

.aboutSection > .aboutContent > h1 {
  opacity: 0.7;
  margin-top: 35px;
  font-size: 40px;
}

.aboutSection > .aboutContent > h2 {
  margin-top: 18px;
  font-size: 26px;
  opacity: 0.5;
  margin-right: 30px;
  font-weight: 500;
}

.aboutSection > img {
  border: 8px solid #cececc;
  /* width: 30%; */
  /* height: 50%; */
  height: 300px;
}

.aboutSection > .aboutContent > .p1 {
  line-height: 1.6rem;
  opacity: 0.6;
  font-size: 15px;
  margin-top: 28px;
}

.aboutSection > .aboutContent > .p2 {
  margin-top: 14px;
  line-height: 1.6rem;
  opacity: 0.6;
  font-size: 15px;
}

.aboutSection > .aboutContent > .p3 {
  margin-top: 28px;
  font-weight: 600;
  opacity: 0.6;
  font-size: 15px;
}

.aboutSection > .aboutContent > .p4,
.p5 {
  margin-top: 5px;
  font-weight: 600;
  opacity: 0.6;
  font-size: 15px;
}

.aboutSection > .aboutContent > .p6 {
  opacity: 0.6;
  margin-top: 28px;
  font-size: 15px;
}

.aboutSection > .aboutContent > .p3 > i,
.p4 > i,
.p5 > i {
  color: #9dbd1f;
  font-weight: 600;
  opacity: 1;
}

.aboutSection > .aboutContent > button {
  width: 220px;
  background-color: #a9ca25;
  padding: 10px;
  padding-top: 15px;
  font-family: "Roboto Slab";
  padding-bottom: 15px;
  margin-top: 20px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.aboutSection > .aboutContent > button:hover {
  background-color: #bbda41;
}

.aboutSection > .aboutContent > button > div {
  border: 2px solid white;
  width: 15px;
  margin-left: 5px;
  font-size: 11px;
  padding: 0.5px;
  border-radius: 99px;
}

@media only screen and (max-width: 600px) {
  .aboutSection {
    flex-direction: column;
  }
  .aboutSection > .aboutContent {
    margin: auto;
    width: 90%;
  }
  .aboutSection > img {
    display: none;
  }

  .aboutSection > .aboutContent > h1 {
    font-size: 30px;
  }
  .aboutSection > .aboutContent > h2 {
    font-size: 21px;
  }
}
