.blogFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto Slab", serif;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #83867b;
  min-height: 55px;
  margin-top: 20px;
  padding: 8px;
}

.blogFooter > img {
  height: 70px;
  object-fit: contain;
}

.blogFooter > p {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
  font-size: 22px;
  color: white;
}

.blogFooter > button {
  height: 40px;
  /* padding: 10px; */
  padding-left: 35px;
  padding-right: 35px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.blogFooter > button:hover {
  background-color: #70726b;
}

@media only screen and (max-width: 600px) {
  .blogFooter > img {
    margin-top: 7px;
  }
  .blogFooter > p {
    text-align: center;
    font-size: 23px;
    margin-top: 10px;
  }
  .blogFooter > button {
    margin-top: 12px;
    margin-bottom: 7px;
  }
}
