/**

* @desc: This file contain all css styling related to Carousel Content 

*/

.myCaroDiv {
    /* background-color: red; */
    min-height: 90vh;
    background-image: url('../../assets/images/hbg5.png');
    background-color: contain;
    background-repeat: no-repeat;
}

.myCaroDiv h1 {
    width: 100%;
    /* background-color: red; */
    color: white;
    position: absolute;
    top: 70px;
    /* left: 20%; */
    text-align: center;
}

.myCaroDiv img {
    width: 150px;
    border: 6px solid #b0d440;
    box-shadow: 0 0 2px #888;
    border-radius: 999px;
    margin: auto;
    margin-top: 15%;
    /* margin-top: 20%; */
}

.myCaroDiv p {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    margin-top: 50px;
}

.myCaroDiv h4 {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 900px) {
    .myCaroDiv h1 {
        /* margin-top: 70px; */
        font-size: 26px;
        text-align: center;
    }
    .myCaroDiv p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .myCaroDiv h1 {
        /* margin-top: 70px; */
        font-size: 26px;
        text-align: center;
    }
    .myCaroDiv p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        margin-top: 20px;
    }
    .myCaroDiv img {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 350px) {
    .myCaroDiv h1 {
        /* margin-top: 20px; */
        font-size: 26px;
        text-align: center;
    }
    .myCaroDiv p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        margin-top: 20px;
    }
    .myCaroDiv img {
        width: 90px;
        border: 6px solid #b0d440;
        box-shadow: 0 0 2px #888;
        border-radius: 999px;
        margin: auto;
        margin-top: 130px;
    }
}