/**

* @desc: This file contain all css styling related to Carousel Content 

*/

.myCaroselDiv h1 {
  margin-bottom: 70px;
}

.myCaroselDiv > img {
  margin-bottom: 70px;
  width: 150px;
  border: 6px solid #b0d440;
  box-shadow: 0 0 2px #888;
  border-radius: 999px;
}

@media only screen and (max-width: 600px) {
  .myCaroselDiv h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .myCaroselDiv > img {
    margin-top: 10px;
    margin-bottom: 60px;
  }
}
