.navHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto Slab", serif;
  justify-content: center;
  background-color: #a3a69d;
  min-height: 75px;
  padding: 8px;
}

.navHeader > img {
  height: 70px;
  object-fit: contain;
}

.navHeader > p {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
  font-size: 22px;
  color: white;
}

.navHeader > button {
  height: 40px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.navHeader > button:hover {
  background-color: #70726b;
}

@media only screen and (max-width: 700px) {
  .navHeader > img {
    margin-top: 7px;
  }
  .navHeader > p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }
  .navHeader > button {
    margin-top: 12px;
    margin-bottom: 7px;
  }
}
