<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogPost</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;379&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/blogPost.css" />
  </head>
  <body>
    <div class="blogPost">
      <h1>Our Latest Blog Posts</h1>
      <div class="blogCardsDiv">
        <div class="blogCard">
          <img src="../../assets/images/user1.png" alt="cardImage" />
          <h3 class="cardTitle">
            Duis eget leo sit amet orci suscipit lacinia neque
          </h3>

          <p>
            Contraty to popular belief, Lorem lpsum is not simply random text.
            It has roots in a piece of classical. Latin literature from 45 BC,
            making it over 200years old. Richard McClintock
          </p>

          <button>Read More</button>
        </div>

        <div class="blogCard">
          <img src="../../assets/images/user2.png" alt="cardImage" />
          <h3 class="cardTitle">
            Duis eget leo sit amet orci suscipit lacinia neque
          </h3>

          <p>
            Contraty to popular belief, Lorem lpsum is not simply random text.
            It has roots in a piece of classical. Latin literature from 45 BC,
            making it over 200years old. Richard McClintock
          </p>

          <button>Read More</button>
        </div>

        <div class="blogCard">
          <img src="../../assets/images/user3.png" alt="cardImage" />
          <h3 class="cardTitle">
            Duis eget leo sit amet orci suscipit lacinia neque
          </h3>

          <p>
            Contraty to popular belief, Lorem lpsum is not simply random text.
            It has roots in a piece of classical. Latin literature from 45 BC,
            making it over 200years old. Richard McClintock
          </p>

          <button>Read More</button>
        </div>
      </div>
    </div>
  </body>
</html>
